/* les margins 10% sont la pour crée les marges pour faire style "flyer" */
.bgc{
    background: linear-gradient(to left ,#e85919 ,#7f290a );
    margin-left: 10%;
    margin-right: 10%;
}
body {
    font-family: 'Crimson Text', serif;
}
.logo {
    height: 50px;
    width: 50px;
    position: relative;
    margin: 0;
    margin-bottom: 5%;
}
/* mise en place d'une classe "green" pour ajouter la couleur ou j'ai envie */
.green {color: #6ab933;}
/* mise en place d'une font-size commune que je peut reutiliser */
.title_heigth {font-size: 5.2em;}
/* letter-spacing et white-space qui ne me servent que sur version pc */
.title {
    letter-spacing: 20px;
    white-space: nowrap;
    font-style: italic;
}
.mail a {
    text-decoration: none;
    color: #71f115;
}

.mail a:hover {
    color: purple;
}
.image_head {
    background-image: url(./img/boules.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
    clip-path: circle(250px at center);
}
.concours h2 {
    font-size: 3em !important;
    font-style: italic;
    font-weight: bold;
}
.text_heigth {font-size: 2em;}

.text_heigth ul {list-style: none;}

.text_heigth ul span {text-decoration: underline;}

.other_text_heigth {
    font-size: 3em;
    font-weight: bold;
}
/* media queries pour les mobiles */
@media only screen and (min-width: 250px) and (max-width: 720px)
{

    .bgc {
        background: linear-gradient(to left ,#e85919 ,#7f290a );
        margin-right: 10%;
        margin-left: 0%;
        width: min-content;
    }
    .logo {
        height: 50px;
        padding-right: 20%;
        position: relative;
        margin: 0;
        margin-bottom: 10%;
    }
    .title {
        letter-spacing: 0px;
        white-space: wrap;
        font-style: italic;
        text-align: center;
    }
    .image_head {
        background-image: url(./img/boules.jpg);
        background-size: cover;
        width: 100%;
        height: 250px;
        clip-path: circle(125px at center);
    }
}
/* media queries pour les tablettes */
 @media only screen and (min-width: 721px) and (max-device-width: 1024px)
{

    .bgc {
        background: linear-gradient(to left ,#e85919 ,#7f290a );
        margin: 0;
    }
    .logo {
        height: 50px;
        padding-right: 28%;
        position: relative;
        margin: 0;
        margin-bottom: 10%;
    }
    .logo img {
        height: 200px;
    }
    .title {
        letter-spacing: 0px;
        white-space:pre-wrap;
        font-style: italic;
        text-align: center;
    }
    .image_head {
        background-image: url(./img/boules.jpg);
        background-size: cover;
        width: 100%;
        height: 250px;
        clip-path: circle(125px at center);
    }
}